<footer>
	<section class="footer__area section-space-top">
		<div class="container">
			<div class="footer__top">
				<div class="footer__logo">
					<a href="#">
						<img src="{{logo_path}}" alt="logo not found">
					</a>
				</div>
				<div class="footer__content">
					<div class="theme__social">
						<a href="{{facebook}}">
							<i class="fa-brands fa-facebook-f"></i>
						</a>
						<a href="{{twitter}}">
							<i class="icon-twiter"></i>
						</a>
						<a href="{{linkedin}}">
							<i class="fa-brands fa-linkedin"></i>
						</a> 
					</div>
				</div>
			</div>
			<!-- Section divider -->
			<div class="section__divider">
				<hr>
			</div>
		</div> 
		<div class="footer__copyright style-two">
			<div class="container">
				<div class="footer__copyright">
					<p>{{copyright}}</p>
				</div>
			</div>
		</div>
	</section>
</footer>
